<table class="stock-list">
  <thead class="stock-list__header">
    <td>Symbol</td>
    <td>Name</td>
    <td>Amount</td>
    <td>Buy date</td>
    <td>Price</td>
  </thead>
  <tbody>
    <ng-container *ngFor="let stock of selectedStocks$ | async">
      <tr class="stock-list__stock-row">
        <td class="stock-list__stock-row-data">{{ stock.symbol }}</td>
        <td class="stock-list__stock-row-data">{{ stock.name }}</td>
        <td class="stock-list__stock-row-data">
          {{ getTotalNumberOfStocks(stock) }}
        </td>
        <td class="stock-list__stock-row-data"></td>
        <td class="stock-list__stock-row-data"></td>
      </tr>
      <tr *ngFor="let purchase of getSortedPurchases(stock)">
        <td></td>
        <td></td>
        <td>{{ purchase.amount }}</td>
        <td>{{ purchase.buyDate }}</td>
        <td>{{ purchase.price }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="3">
          <button class="stock-list__add-button" (click)="addStockPurchase(stock)">+</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<ng-template #modalContent>
  <p>{{ stockToAddPurchase.symbol }}</p>
  <p>{{ stockToAddPurchase.name }}</p>

  <form [formGroup]="stockPurchaseDetailsForm" (ngSubmit)="saveStockPurchase()">
    <div>
      <label>
        Buy date:
        <input type="date" formControlName="buyDate" />
      </label>
    </div>
    <div>
      <label>
        Amount:
        <input type="number" formControlName="amount">
      </label>
    </div>
    <div>
      <label>
        Price:
        <input type="number" step="0.01" formControlName="price">
      </label>
    </div>
    <button type="submit">Save</button>
  </form>
  <div *ngIf="formErrors">
    <pre><p>{{ formErrors | json }}</p></pre>
  </div>
</ng-template>

<app-modal [isVisible]="stockToAddPurchase" [title]="'Stock purchase information'" [content]="modalContent"
  (modalClosed)="unselectStockToAddPurchase()"></app-modal>
